<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes Log</title>
    <style>
        table{
            width: 80%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th,td{
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th{
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Registro de Mensajes</h2>
    <table>
        <tr>
            <th>id</th>
            <th>Numero</th>
            <th>Flujo</th>
            <th>SubFlujo</th>
            <th>SubFlujo2</th>
            <th>SubFlujo3</th>
            <th>SubFlujo4</th>
            <th>DNI</th>
            <th>Nombre_completo</th>
            <th>Sucursal</th>
            <th>json</th>
            <th>Last_func_exec</th>
            <th>error_log</th>
        </tr>
        {%for registro in registros %}
            <tr>
                <td>{{registro.id}}</td>
                <td>{{registro.number}}</td>
                <td>{{registro.flow}}</td>
                <td>{{registro.subFlow}}</td>
                <td>{{registro.subFlow2}}</td>
                <td>{{registro.subFlow3}}</td>
                <td>{{registro.subFlow4}}</td>
                <td>{{registro.dni}}</td>
                <td>{{registro.full_name}}</td>
                <td>{{registro.sucursal}}</td>
                <td>{{registro.json}}</td>
                <td>{{registro.func}}</td>
                <td>{{registro.error}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>